<!-- profile/form.html.twig -->
<section class="vh-100" style="background-color: #f4f5f7;">
{# <form action="{{ path('app_profile_edit') }}" method="POST">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" value="{{ app.user.username }}" required>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" value="{{ app.user.email }}" required>
  </div>
  <div class="mb-3">
    <label for="birthday" class="form-label">Birthday</label>
    <input type="date" class="form-control" id="birthday" name="birthday">
  </div>
  <button type="submit" class="btn btn-primary">{{ button_label }}</button>
</form> #}
{{ form_start(form) }}
                <div class="form-group">
					{{ form_row(form.username, {
                        'attr': {'class': 'form-control', 'placeholder': 'name'}
                        }) 
                    }}
				</div> 
                <div class="form-group">
					{{ form_row(form.email, {
                        'attr': {'class': 'form-control', 'placeholder': 'description'}
                        }) 
                    }}
				</div> 
                 <div class="form-group">
					{{ form_row(form.birthday, {
                        'attr': {'class': 'form-control', 'placeholder': 'date'}
                        }) 
                    }}
				</div>


      <button class="btn">{{ button_label|default('Save') }}</button> 

{{ form_end(form) }}
</section>