<section class="vh-100" style="background-color: #f4f5f7;">
{{ form_start(form) }}
    {# <form method="post" action="{{ path('app_profile_edit') }}" method="POST"> #}
        <div class="mb-3">
            {{ form_row(form.username) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.email, {'label': 'Email'}) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.birthday, {'label': 'Birthday'}) }}
        </div>
        <div class="form-group">
           
            {{ form_row(form.imageFile, {
                'attr': {'class': 'form-control', 'accept': 'image/*'}
            }) }}
        </div>
        <button class="btn">{{ button_label|default('Save') }}</button>
    {# </form> #}

{{ form_end(form) }}
</section>

