{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<body class="background-section">

<section class="vh-100"">
  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="card mb-3" style="border-radius: .5rem;">
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-black"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
              <img src="/avatars/{{app.user.avatarPath}}" alt="Avatar" class="img-fluid my-5 avatar" />
              <h5 id="username">{{ app.user.username }}</h5>
              <a href="{{ path('app_profile_edit')}}"><i class="far fa-edit mb-5"></i></a>
            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{ app.user.email }}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>Birthday</h6>
                    <p class="text-muted">{{ app.user.birthday | date }}</p>
                  </div>
                </div>
                <hr>
                <a href="{{ path('app_show_all_conversations')}}">
                  <h6>My messages</h6>
                </a>
                <hr>
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <a href="{{ path('app_activity_my')}}">
                      <h6>My Activities</h6>
                    </a>
                  </div>
                  <hr>
                </div>
                <div><a href="{{ path('app_profile_delete')}}">Delete profile</a></div>
                <div><a href="{{ path('app_logout')}}">Logout</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>

<script>
window.addEventListener('load', function () { //emission d'un event quand la page visitée sera chargée 
const evtSource = new EventSource("https://localhost/.well-known/mercure?topic=https://localhost/users/" + {{ app.user.id }}); //instanciation de la classe EventSource qui va écouter l'évent 
evtSource.onmessage = function(event) { // a chaque message une méthode est déclenchée 
  const data = JSON.parse(event.data); //convertion du resultat en obj
  console.log(data) //affichage de l'objet 
  const element = document.getElementById("username"); //selection de l'élèment par son id dans le DOM
  console.log(element) //affiche l'element
  console.log(element.innerText) //affiche la valeur de l'element 
  element.innerText = data.username //remplace la valeur de l'element par ce que le mercure emet (new valeur)
}

});

</script>

{% endblock %}
