{{ form_start(form) }}
                <div class="form-group">
					{{ form_row(form.name, {
                        'attr': {'class': 'form-control', 'placeholder': 'name'}
                        }) 
                    }}
				</div> 
                <div class="form-group">
					{{ form_row(form.description, {
                        'attr': {'class': 'form-control', 'placeholder': 'description'}
                        }) 
                    }}
				</div> 
                 <div class="form-group">
					{{ form_row(form.date, {
                        'attr': {'class': 'form-control', 'placeholder': 'date'}
                        }) 
                    }}
				</div> 
				<div class="form-group">
					{{ form_row(form.duration, {
                        'attr': {'class': 'form-control', 'placeholder': 'duration'}
                        }) 
                    }}
				</div> 
                <div class="form-group">
					{{ form_row(form.location, {
                        'attr': {'class': 'form-control', 'placeholder': 'location'}
                        }) 
                    }}
				</div> 
                <div class="form-group">    
					{{ form_row(form.starting_time, {
                        'attr': {'class': 'form-control', 'placeholder': 'date'}
                        }) 
                    }}
				</div> 
                <div class="form-group">
					{{ form_row(form.numberOfParticipants, {
                        'attr': {'class': 'form-control', 'placeholder': 'how many friends'}
                        }) 
                    }}
				</div> 
                <div class="form-group">
					{{ form_row(form.activityQuestions, {
                        'attr': {'class': 'form-control', 'placeholder': 'questions'}
                        }) 
                    }}
				</div> 


      <button class="btn">{{ button_label|default('Save') }}</button> 

{{ form_end(form) }}
