{# {{ form_start(form) }}

{% if current_step == 1 %}
    <div class="form-group">
        {{ form_row(form.name, {
            'attr': {'class': 'form-control', 'placeholder': 'name'}
        }) }}
    </div>
    <div class="form-group">
        {{ form_row(form.description, {
            'attr': {'class': 'form-control', 'placeholder': 'description'}
        }) }}
    </div>
{% elseif current_step == 2 %}
    <div class="form-group">
        {{ form_row(form.date, {
            'attr': {'class': 'form-control', 'placeholder': 'date'}
        }) }}
    </div>
{% elseif current_step == 3 %}
    <div class="form-group">
        {{ form_row(form.duration, {
            'attr': {'class': 'form-control', 'placeholder': 'duration'}
        }) }}
    </div>
    <div class="form-group">
        {{ form_row(form.location, {
            'attr': {'class': 'form-control', 'placeholder': 'location'}
        }) }}
    </div>
{% elseif current_step == 4 %}
    <div class="form-group">    
		{{ form_row(form.starting_time, {
            'attr': {'class': 'form-control', 'placeholder': 'date'}
        }) }}
	</div> 
    <div class="form-group">
		{{ form_row(form.numberOfParticipants, {
            'attr': {'class': 'form-control', 'placeholder': 'how many friends'}
        }) }}
	</div> 
{% elseif current_step == 5 %}
    <div class="form-group">
		{{ form_row(form.activityQuestions, {
            'attr': {'class': 'form-control', 'placeholder': 'questions'}
        })}}
				</div> 
{% endif %}

<button class="btn custom-button">{{ button_label|default('Save') }}</button>

{{ form_end(form) }} #}




{# {{ form_start(form) }}

<div id="step1" {% if current_step != 1 %}style="display: none;"{% endif %}>
    <div class="form-group">
        {{ form_row(form.name, {
            'attr': {'class': 'form-control', 'placeholder': 'name'},
            'label': 'Name'
        }) }}
    </div>
    <div class="form-group">
        {{ form_row(form.description, {
            'attr': {'class': 'form-control', 'placeholder': 'description'},
            'label': 'Description'
        }) }}
    </div>
</div>

<div id="step2" {% if current_step != 2 %}style="display: none;"{% endif %}>
    <div class="form-group">
        {{ form_row(form.date, {
            'attr': {'class': 'form-control', 'placeholder': 'date'},
            'label': 'Date'
        }) }}



        {% if form.date.vars.errors|length > 0 %}
            {% for error in form.date.vars.errors %}
                <div class="alert alert-danger">{{ error.message }}</div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<div id="step3" {% if current_step != 3 %}style="display: none;"{% endif %}>
    <div class="form-group">
        {{ form_row(form.duration, {
            'attr': {'class': 'form-control', 'placeholder': 'duration'},
            'label': 'Duration'
        }) }}
    </div>
    <div class="form-group">
        {{ form_row(form.location, {
            'attr': {'class': 'form-control', 'placeholder': 'location'},
            'label': 'Location'
        }) }}
    </div>
        <div class="form-group">    
        {{ form_row(form.starting_time, {
            'attr': {'class': 'form-control', 'placeholder': 'date'},
            'label': 'Starting Time'
        }) }}
    </div> 
    {{ form_row(form.outdoor) }}
</div>

<div id="step4" {% if current_step != 4 %}style="display: none;"{% endif %}>
    <div class="form-group">
        {{ form_row(form.numberOfParticipants, {
            'attr': {'class': 'form-control', 'placeholder': 'how many friends'},
            'label': 'Number of Participants'
        }) }}
    </div> 
    {{ form_row(form.open) }}
</div>

<div id="step5" {% if current_step != 5 %}style="display: none;"{% endif %}>
    <div class="form-group">
        {{ form_row(form.activityQuestions, {
            'attr': {'class': 'form-control', 'placeholder': 'questions'},
            'label': 'Activity Questions'
        })}}
    </div> 
</div>

<button class="btn custom-button" id="next-button" {% if current_step == 5 %}style="display: none;"{% endif %}>Next</button>
<button class="btn custom-button" id="save-button" {% if current_step != 5 %}style="display: none;"{% endif %}>Save</button>

{{ form_end(form) }}

<script>
    var currentStep = {{ current_step }};

    // Afficher l'étape actuelle
    function showCurrentStep() {
        for (var i = 1; i <= 5; i++) {
            var step = document.getElementById('step' + i);
            var nextButton = document.getElementById('next-button');
            var saveButton = document.getElementById('save-button');

            if (i === currentStep) {
                step.style.display = 'block';

                if (i === 5) {
                    nextButton.style.display = 'none';
                    saveButton.style.display = 'block';
                } else {
                    nextButton.style.display = 'block';
                    saveButton.style.display = 'none';
                }
            } else {
                step.style.display = 'none';
            }
        }
    }

    // Appeler showCurrentStep() au chargement de la page
    showCurrentStep();

    // Passer à l'étape suivante
    function nextStep() {
        currentStep++;
        showCurrentStep();
    }

    // Écouter le clic sur le bouton "Next"
    document.getElementById('next-button').addEventListener('click', nextStep);

    // Afficher l'étape actuelle lors du chargement de la page
    showCurrentStep();



</script> #}

{{ form_start(form) }}

<ul class="stepper" data-mdb-stepper="stepper">
  <li class="stepper-step stepper-active">
    <div class="stepper-head">
      <span class="stepper-head-icon">1</span>
      <span class="stepper-head-text">step1</span>
    </div>
    <div class="stepper-content py-3">
            {{ form_row(form.name, {
                'attr': {'class': 'form-control', 'placeholder': 'name'},
                'label': 'Name'
            }) }}
    
            {{ form_row(form.description, {
                'attr': {'class': 'form-control', 'placeholder': 'description'},
                'label': 'Description'
            }) }}

  </li>
  <li class="stepper-step">
    <div class="stepper-head">
      <span class="stepper-head-icon">2</span>
      <span class="stepper-head-text">step2</span>
    </div>
    <div class="stepper-content py-3">
        {{ form_row(form.date, {
            'attr': {'class': 'form-control', 'placeholder': 'date'},
            'label': 'Date'
        }) }}
        {% if form.date.vars.errors|length > 0 %}
            {% for error in form.date.vars.errors %}
                <div class="alert alert-danger">{{ error.message }}</div>
            {% endfor %}
        {% endif %}
    </div>
  </li>
  <li class="stepper-step">
    <div class="stepper-head">
      <span class="stepper-head-icon">3</span>
      <span class="stepper-head-text">step3</span>
    </div>
    <div class="stepper-content py-3">
        {{ form_row(form.duration, {
            'attr': {'class': 'form-control', 'placeholder': 'duration'},
            'label': 'Duration'
        }) }}
        {{ form_row(form.location, {
            'attr': {'class': 'form-control', 'placeholder': 'location'},
            'label': 'Location'
        }) }}  
        {{ form_row(form.starting_time, {
            'attr': {'class': 'form-control', 'placeholder': 'date'},
            'label': 'Starting Time'
        }) }}
        {{ form_row(form.outdoor) }}
    </div>
  </li>

    <li class="stepper-step">
    <div class="stepper-head">
      <span class="stepper-head-icon">4</span>
      <span class="stepper-head-text">step4</span>
    </div>
    <div class="stepper-content py-3">
        {{ form_row(form.numberOfParticipants, {
            'attr': {'class': 'form-control', 'placeholder': 'how many friends'},
            'label': 'Number of Participants'
        }) }}
        {{ form_row(form.open) }}
    </div>
  </li>

    <li class="stepper-step">
    <div class="stepper-head">
      <span class="stepper-head-icon">5</span>
      <span class="stepper-head-text">step5</span>
    </div>
    <div class="stepper-content py-3">
        {{ form_row(form.activityQuestions, {
            'attr': {'class': 'form-control', 'placeholder': 'questions'},
            'label': 'Activity Questions'
        })}}
        <div class="button">  
            <button class="btn custom-button-activity" id="save-button">Save</button>
        </div>
    </div>
  </li>

</ul>

{{ form_end(form) }}
